<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_bg_bottom_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1135,120}</string>
                <key>spriteSourceSize</key>
                <string>{1135,120}</string>
                <key>textureRect</key>
                <string>{{2,2},{1135,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_btn_bottom_expand_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{2,124},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_btn_bottom_expand_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{52,124},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_btn_bottom_light_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,60}</string>
                <key>spriteSourceSize</key>
                <string>{180,60}</string>
                <key>textureRect</key>
                <string>{{102,124},{180,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_btn_bottom_light_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,60}</string>
                <key>spriteSourceSize</key>
                <string>{180,60}</string>
                <key>textureRect</key>
                <string>{{284,124},{180,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_btn_bottom_right_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,60}</string>
                <key>spriteSourceSize</key>
                <string>{180,60}</string>
                <key>textureRect</key>
                <string>{{466,124},{180,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_btn_bottom_right_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,60}</string>
                <key>spriteSourceSize</key>
                <string>{180,60}</string>
                <key>textureRect</key>
                <string>{{648,124},{180,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_divider_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,54}</string>
                <key>spriteSourceSize</key>
                <string>{4,54}</string>
                <key>textureRect</key>
                <string>{{830,124},{4,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_icon_bottom_coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,100}</string>
                <key>spriteSourceSize</key>
                <string>{210,100}</string>
                <key>textureRect</key>
                <string>{{836,124},{210,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_icon_bottom_souvernir.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,100}</string>
                <key>spriteSourceSize</key>
                <string>{210,100}</string>
                <key>textureRect</key>
                <string>{{2,226},{210,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_icon_fortune.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{214,226},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_icon_inbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{338,226},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_icon_luckwheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{462,226},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_icon_rewards.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{586,226},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_icon_service.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{710,226},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_icon_vip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{834,226},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_txt_fortune.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,26}</string>
                <key>spriteSourceSize</key>
                <string>{104,26}</string>
                <key>textureRect</key>
                <string>{{958,226},{104,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_txt_inbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,26}</string>
                <key>spriteSourceSize</key>
                <string>{104,26}</string>
                <key>textureRect</key>
                <string>{{2,350},{104,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_txt_luckwheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,26}</string>
                <key>spriteSourceSize</key>
                <string>{104,26}</string>
                <key>textureRect</key>
                <string>{{108,350},{104,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_txt_rewards.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,26}</string>
                <key>spriteSourceSize</key>
                <string>{104,26}</string>
                <key>textureRect</key>
                <string>{{214,350},{104,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_txt_service.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,26}</string>
                <key>spriteSourceSize</key>
                <string>{104,26}</string>
                <key>textureRect</key>
                <string>{{320,350},{104,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_txt_vip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,26}</string>
                <key>spriteSourceSize</key>
                <string>{104,26}</string>
                <key>textureRect</key>
                <string>{{426,350},{104,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bottom.png</string>
            <key>size</key>
            <string>{1139,378}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:392c82ce5f9e36055d3110e32d159344:6dbba33dc87892d46f51d16b21b2ab4d:a7dfeb96b96d10be30579cb060638497$</string>
            <key>textureFileName</key>
            <string>bottom.png</string>
        </dict>
    </dict>
</plist>
