<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_bg_expandmenu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,392}</string>
                <key>spriteSourceSize</key>
                <string>{152,392}</string>
                <key>textureRect</key>
                <string>{{266,104},{152,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_btn_expandmenu_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{42,2},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_btn_expandmenu_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{144,2},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_btn_expandmenu_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{246,2},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_btn_expandmenu_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{348,2},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_btn_expandmenu_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,60}</string>
                <key>spriteSourceSize</key>
                <string>{130,60}</string>
                <key>textureRect</key>
                <string>{{2,104},{130,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_btn_expandmenu_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,60}</string>
                <key>spriteSourceSize</key>
                <string>{130,60}</string>
                <key>textureRect</key>
                <string>{{134,104},{130,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_icon_new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{2,2},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>menu.png</string>
            <key>size</key>
            <string>{450,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f16e671378711438a1ff522debd0415:9e702c453ebd9767abe1c7ff8cd5d62e:9622c220910f706aac7e93396e53b943$</string>
            <key>textureFileName</key>
            <string>menu.png</string>
        </dict>
    </dict>
</plist>
