<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_frame_center_slot1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,428}</string>
                <key>spriteSourceSize</key>
                <string>{258,428}</string>
                <key>textureRect</key>
                <string>{{2,2},{258,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_frame_center_slot2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,428}</string>
                <key>spriteSourceSize</key>
                <string>{258,428}</string>
                <key>textureRect</key>
                <string>{{262,2},{258,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_frame_center_slot3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,186}</string>
                <key>spriteSourceSize</key>
                <string>{168,186}</string>
                <key>textureRect</key>
                <string>{{522,2},{168,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mid.png</string>
            <key>size</key>
            <string>{692,432}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:909396e6149df19268661582b5669527:6fe1d421b6a3693592996e109ab2ec05:beda1ebcce05b5e44ab24b38ea2bf417$</string>
            <key>textureFileName</key>
            <string>mid.png</string>
        </dict>
    </dict>
</plist>
