<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_btn_expand_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,136}</string>
                <key>spriteSourceSize</key>
                <string>{50,136}</string>
                <key>textureRect</key>
                <string>{{2,2},{50,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_btn_expand_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,136}</string>
                <key>spriteSourceSize</key>
                <string>{50,136}</string>
                <key>textureRect</key>
                <string>{{54,2},{50,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_btn_redpoint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{106,2},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_divider_mid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,430}</string>
                <key>spriteSourceSize</key>
                <string>{22,430}</string>
                <key>textureRect</key>
                <string>{{156,2},{22,430}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>normal.png</string>
            <key>size</key>
            <string>{180,434}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b5dd6d7de6e6ddd34a3471e1e295d69:74180f74444ed53e1a2f333dda6353f5:042629d1e4b0ed6696f89f3e5b9b245e$</string>
            <key>textureFileName</key>
            <string>normal.png</string>
        </dict>
    </dict>
</plist>
