<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_bar_top_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,50}</string>
                <key>spriteSourceSize</key>
                <string>{64,50}</string>
                <key>textureRect</key>
                <string>{{2,2},{64,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_bg_top_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1136,68}</string>
                <key>spriteSourceSize</key>
                <string>{1136,68}</string>
                <key>textureRect</key>
                <string>{{2,66},{1136,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_bg_top_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,50}</string>
                <key>spriteSourceSize</key>
                <string>{64,50}</string>
                <key>textureRect</key>
                <string>{{68,2},{64,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_btn_topcol_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,68}</string>
                <key>spriteSourceSize</key>
                <string>{100,68}</string>
                <key>textureRect</key>
                <string>{{2,136},{100,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_btn_topcol_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,68}</string>
                <key>spriteSourceSize</key>
                <string>{100,68}</string>
                <key>textureRect</key>
                <string>{{104,136},{100,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_btn_toplight_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,76}</string>
                <key>spriteSourceSize</key>
                <string>{176,76}</string>
                <key>textureRect</key>
                <string>{{418,136},{176,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_btn_toplight_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,76}</string>
                <key>spriteSourceSize</key>
                <string>{176,76}</string>
                <key>textureRect</key>
                <string>{{596,136},{176,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_btn_topright_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,76}</string>
                <key>spriteSourceSize</key>
                <string>{176,76}</string>
                <key>textureRect</key>
                <string>{{774,136},{176,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_btn_topright_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,76}</string>
                <key>spriteSourceSize</key>
                <string>{176,76}</string>
                <key>textureRect</key>
                <string>{{952,136},{176,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_btn_topsetting_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{206,136},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_btn_topsetting_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{276,136},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_frame_avatar_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,62}</string>
                <key>spriteSourceSize</key>
                <string>{68,62}</string>
                <key>textureRect</key>
                <string>{{320,2},{68,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_frame_avatar_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,62}</string>
                <key>spriteSourceSize</key>
                <string>{68,62}</string>
                <key>textureRect</key>
                <string>{{390,2},{68,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_icon_top_diamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{134,2},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_icon_top_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{196,2},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_icon_top_level.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{258,2},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_icon_top_luckycat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{346,136},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>top.png</string>
            <key>size</key>
            <string>{1140,214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdace5c87c8df1ba63aa81dca375d501:cb2cdd196ff7d996df8c4e195aaded53:ebeee8f59da13818df754e8044b6a295$</string>
            <key>textureFileName</key>
            <string>top.png</string>
        </dict>
    </dict>
</plist>
